streamlit
pyarrow==10.0.1
snowflake-connector-python==3.2.1
snowflake-snowpark-python
pandas
numpy
datetime
singlestoredb
plotly==5.2.2
cufflinks==0.17.3
pandas_datareader==0.10.0
snowflake-connector-python